$squid-color: hsl(337, 100%, 50%);

*{
    padding: 0px;
    margin: 0px;
}

#root {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 300px; 
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
 
.head {
    border-radius: 40% 40% 50% 50%;
    width: 150px;
    height: 150px;
    background-color: $squid-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div.mask {
        border-radius: 40% 40% 50% 50%;
        width: 120px;
        height: 120px;
        background-color: #000;
        z-index: 1; 
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            width: 110px;
            height: 2px;
            background-color: rgba(61, 61, 61, 0.5);
            margin-top: 35px;
            box-shadow: 0px 3px 0px 0px rgba(61, 61, 61, 0.5);
        }

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 37px;
            background-color: rgba(61, 61, 61, 0.5);
            margin-top: 80px; 
        }

        &>div.triangule {
            width: 0;
            height: 0; 
            border-right: 35px solid transparent ; 
            border-bottom: 55px solid #FFF;
            border-left: 35px solid  transparent; 
            margin-top: -35px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0; 
                border-right: 17px solid transparent ; 
                border-bottom: 27px solid #000;
                border-left: 17px solid  transparent;
                margin-top: 65px;  
            }
        }

        &>div.square {
            width: 55px;
            height: 55px;
            background-color: #FFF;
            margin-top: -33px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                background-color: #000; 
            }
        }
 
        &>div.circle {
            width: 57px;
            height:57px;
            background-color: #FFF;
            border-radius: 50%;
            margin-top: -30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                background-color: #000;
                border-radius: 50%;
            }
        }
    }
}

.body {  
    border-radius: 10% 10% 0% 0%;
    width: 90px;
    height: 40px;
    background-color: $squid-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px; 
    
    &>div {
        display: flex;
        justify-content: center;
        align-items: center;

        &.loking {
            width: 10px;
            height: 40px;
            background-color: #000;
            margin-top: 10px;
            border-radius: 2px 2px 0px 0px;
        }

        &.arms { 
            &>div.arm-left {
                width: 30px;
                height: 60px;
                background-color: #000;
                border-radius: 10px 0px 40px 40px;
                transform: rotate(35deg); 
                position: absolute;
                margin-left: -120px;
                z-index: -100;

                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 40px;
                    background-color: $squid-color;  
                }
            } 
    
            &>div.arm-rigth {
                width: 30px;
                height: 60px;
                background-color: #000;
                border-radius: 10px 0px 40px 40px;
                transform: rotate(-35deg); 
                position: absolute;
                margin-right: -100px;
                z-index: -100;
    
                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 40px;
                    background-color: $squid-color;  
                }
            } 
        }
    } 
}

.legs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $squid-color;
    width: 90px;
    height: 40px; 
    border-radius: 0% 0% 15px 15px;

    &>div.md {
        width: 15px;
        height: 30px;
        background-color: #FFF;
        margin-top: 10px;
        border-radius: 50% 50% 0% 0%;

        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            box-shadow: -10px 30px 15px #000;
            z-index: 0;
        }
    } 
 
    &::after {
        content: '';
        position: absolute;
        background-color: #000;
        width: 20px;
        height: 10px;
        margin-left: -70px;
        margin-top: -50px;
        box-shadow: 25px 0px 0px 0px #000,
        45px 0px 0px 0px #000,
        70px 0px 0px 0px #000;
    }

    &::before {
        content: '';
        position: absolute;
        background-color: #000;
        width: 35px;
        height: 10px;
        margin-left: -50px;
        margin-top: 40px;
        border-radius: 100px;
        box-shadow: 50px 0px 0px 0px #000;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #root {
        width: 100%; 
        height: 100%;  
        flex-direction: column; 
    }
}